

.inputclass{
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.inputclass > .inputbox{
	flex: 1;
	text-align: center;
}


.inputclass > .inputbox > textarea{
	width:100%;
	box-sizing: border-box;
	padding:20px;
	resize:vertical;
}

.inputclass > .inputbox > input{
	width:80%;
	padding:10px 20px;
}

.inputclass > .inputsubmit{
	flex-basis: 10%;
	margin-left: 2em;
}

.loading_container{
	background-image: url(/spinner.gif);
}

.collapsed{
}